.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 900px;
    background: rgb(75, 75, 75);
    color: wheat;
    padding-bottom: 50px;
}